<h1>Choose tenant</h1>
{{#if error}} <span><br />
    <h2>{{error}}</h2>
</span><br /><br /><br />{{/if}}

<form method="POST" action="/user/add">
    <div class="form-group">
        <label>Select tenant you will use </label>
        <input type="text" name="tenant" placeholder="Tenant" class="form-control">
    </div>
    <div class="form-group">
        <label>Time you will use in seconds: </label>
        <input type="text" name="ttl" placeholder="TTL Name" class="form-control">
    </div>

    <input type="submit" class="btn btn-primary" value="Lock">

</form>
<br />
<br />
<form method="POST" action="/user/delete/">
    <label>Tenant you will unlock </label>
    <input type="text" name="tenant" placeholder="Tenant" class="form-control">
    <br />

    <input type="submit" class="btn btn-danger pull-left" value="Unlock">
</form>